<footer>
    <div class="footer-content grey container-fluid-sm">
        <div class="row justify-content-between footer-row">
            <div class="col-sm-4 footer-topmost">
                <p class="lh-lg">At FOX UNIVERSITY, we provide competent <br>
                    employees that gives your business a <br>
                    competitive advantage, and builds a <br>
                     long term, mutually rewarding relationship.
                </p>
            </div>
            
            <div class="col-sm-2 support lh-lg">
                <h5 class="mb-2">Support</h5>
                <a class="grey" routerLink="services">Services</a>
                <a class="grey" routerLink="contact-us">Contact</a>
                <a class="grey" routerLink="privacy-policy">Privacy Policy</a>
            </div>
    
            <div class="col-sm lh-base">
                <h5 class="mb-2">Get the app now</h5>
                <p class="lh-lg">Download our mobile application now.<br>
                 (Employee only) to monitor and performance<br>
                your day to day activities.</p>
                <div class="flex-column download-div">
                    <img src="assets/images/app-store.svg">
                    <img src="assets/images/google-play.svg">
                </div>
            </div>
    
            <div class="col-sm pl-lg lh-lg">
                <h5 class="mb-2">Our Address</h5>
                <p class="lh-lg">Fox University<br>
                    203 Fake St. Mountain View, San Francisco, California, USA
                    Dallas TX 75243
                </p>
               <div class="social-media-icons d-flex gap-3">
                <div class="icon-link"><i class="fa fa-facebook fs-2"></i></div>
                <div class="icon-link "><i class="fa fa-instagram fs-2"></i></div>
                <div class="icon-link"><i class="fa fa-twitter fs-2"></i></div>
               </div>
            </div>
        </div>
        <div class="footer-buttom mt-5">
            <p class="wh text-center">Copyright ©Fox University. 2021. All right reserved</p>
        </div>
    </div>
  
</footer>